@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body{

    font-family: 'Ranchers', cursive;
    background-image: url("world (1).png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: 2vw ;
    display: flex;
    justify-content: center;


}
#quiz-area {
    position: relative;
    border-radius: 30px;
    flex-basis: 30vw;
    margin-top: 2vw;

}
#title {
    position: relative;
    text-align: center;
    font-size: 200%;
}
#cards-place {
    perspective: 1000px;
    position: relative;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}
.front,.back {
    font-size: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform-origin: center;
    border-radius: 15px;
}
.front {
    backface-visibility: hidden;
    background-color: orange;
    z-index: 2;

}
.back {
    background-image: linear-gradient(#f8da61,#ff5acd);
    z-index: 1;
    transform: rotateY(180Deg);
}
.card:hover {
    transform: rotateY(180Deg);
}
.card {

    margin: 1.5% 0.5% 0.5% 0.5%;
    transform-style: preserve-3d;
    position: relative;
    transition: all 1s linear;
    height: 30%;
    width: 30%;
}

